<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <div th:replace="~{commons/css}"></div>

    <style>
        .required-opt {
            color: red;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- 顶部导航条 -->
    <div th:replace="~{commons/head-navbar}"></div>

    <!-- 左侧导航 -->
    <div th:replace="~{commons/left-sidebar}"></div>

    <!-- 内容区域 -->
    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                控制面板
                <small>首页</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="home.html"><i class="fa fa-dashboard"></i> 首页</a></li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">
            <div class="callout callout-info">
                <button type="button" class="close callout-close">×</button>
                <h4>
                    <i class="icon fa fa-info" style="margin-right: 10px"></i>
                    提交了，还能修改！
                </h4>
                <p>请注意目标报考学校的报名截止时间。只要在这个时间之前，你可以随意修改下列信息。</p>
            </div>
            <div class="callout callout-warning">
                <button type="button" class="close callout-close">×</button>
                <h4>
                    <i class="icon fa fa-info" style="margin-right: 10px"></i>
                    一次只填写一个表单
                </h4>
                <p>一次只填写一个表单。当你点击提交时，其他表单里的未提交数据均会被清空。</p>
            </div>
            <!-- 所有表单 -->
            <div class="row" id="data-form">
                <div class="col-md-6">
                    <!-- 左1表单 -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">学校和专业</h3>
                        </div>
                        <form>
                            <div class="box-body">
                                <div class="form-group">
                                    <label>报考学校<b class="required-opt">*</b> </label>
                                    <select class="form-control" title="学校列表" id="school"
                                            v-model="user.schoolId" v-on:change="schoolChange">
                                        <option value="-1">...</option>
                                        <th:block th:each="school : ${schools}">
                                            <option th:if="${school.getSchoolId() != 100000}"
                                                    th:value="${school.getSchoolId()}"
                                                    th:text="${school.getName()}"></option>
                                        </th:block>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>报考专业<b class="required-opt">*</b> </label>
                                    <select class="form-control" title="专业列表" id="major"
                                            v-model="user.major">
                                        <option v-for="major in majorList" :value="major.id">
                                            {{major.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary" @click="submitSchoolInfo">提交</button>
                        </div>
                    </div>
                    <!-- 左1表单 -->
                    <!-- 左2表单 -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">教育背景</h3>
                        </div>
                        <form>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="grad-school">毕业学校<b class="required-opt">*</b> </label>
                                    <input class="form-control" type="text" id="grad-school"
                                           v-model="user.graduateSchool">
                                </div>
                                <div class="form-group">
                                    <label for="grad-date">毕业年月<b class="required-opt">*</b> </label>
                                    <input type="month" class="form-control" id="grad-date"
                                           v-model="user.graduateTime">
                                </div>
                                <div class="form-group">
                                    <label for="is-current">应届状态<b class="required-opt">*</b> </label>
                                    <select class="form-control" id="is-current"
                                            v-model="user.isCurrent">
                                        <option value="true">应届</option>
                                        <option value="false">往届</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="art-sci">分科<b class="required-opt">*</b> </label>
                                    <select class="form-control" id="art-sci" v-model="user.isScience">
                                        <option value="false">文科</option>
                                        <option value="true">理科</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="english-level">英语水平</label>
                                    <select class="form-control" id="english-level"
                                            v-model="user.englishLevel">
                                        <option value="无">无</option>
                                        <option value="CET-4">CET-4 425+</option>
                                        <option value="CET-6">CET-6 425+</option>
                                        <option value="TEM-6">TEM-6 60+</option>
                                        <option value="TEM-8">TEM-8 60+</option>
                                        <option value="IELTS">IELTS 6.0+</option>
                                        <option value="TOEFL">TOEFL 80+</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary" @click="submitEduInfo">提交</button>
                        </div>
                    </div>
                    <!-- 左2表单 -->

                </div>

                <div class="col-md-6">
                    <!-- 右1表单 -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">基本信息</h3>
                        </div>
                        <form>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="realname">考生姓名<b class="required-opt">*</b> </label>
                                    <input class="form-control" id="realname"
                                           v-model="user.realname">
                                </div>
                                <div class="form-group">
                                    <label for="identity-id">证件号码<b class="required-opt">*</b> </label>
                                    <input type="text" class="form-control" placeholder="身份证号、永久居留证号、护照编号..."
                                           id="identity-id" v-model="user.identityId">
                                </div>
                                <div class="form-group">
                                    <label for="gender">性别<b class="required-opt">*</b> </label>
                                    <select class="form-control" id="gender" v-model="user.gender">
                                        <option value="男">男</option>
                                        <option value="女">女</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="nationality">民族<b class="required-opt">*</b> </label>
                                    <input type="text" class="form-control" id="nationality"
                                           v-model="user.nationality">
                                </div>
                                <div class="form-group">
                                    <label>政治面貌<b class="required-opt">*</b> </label>
                                    <select class="form-control" id="politics"
                                            v-model="user.politicalStatus">
                                        <option value="中共党员">中共党员</option>
                                        <option value="中共预备党员">中共预备党员</option>
                                        <option value="共青团员">共青团员</option>
                                        <option value="少先队员">少先队员</option>
                                        <option value="民主党派">民主党派</option>
                                        <option value="群众">群众</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="nationality">生源地<b class="required-opt">*</b> </label>
                                    <input type="text" class="form-control" id="source"
                                           v-model="user.source">
                                </div>
                                <div class="form-group">
                                    <label for="nationality">家庭住址<b class="required-opt">*</b> </label>
                                    <input type="text" class="form-control" id="home-location"
                                           v-model="user.homeAddress">
                                </div>
                            </div>
                        </form>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary" @click="submitBasicInfo">提交</button>
                        </div>
                    </div>
                    <!-- 右1表单 -->
                    <!-- 右2表单 -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">通讯信息</h3>
                        </div>
                        <form>
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="mail-name">通讯人<b class="required-opt">*</b> </label>
                                    <input class="form-control" id="mail-name" v-model="user.receiver">
                                </div>
                                <div class="form-group">
                                    <label for="mail-addr">通讯地址<b class="required-opt">*</b> </label>
                                    <input type="text" class="form-control" id="mail-addr"
                                           v-model="user.contactAddress">
                                </div>
                                <div class="form-group">
                                    <label for="zip">邮政编码<b class="required-opt">*</b> </label>
                                    <input type="text" class="form-control" id="zip"
                                           v-model="user.zipcode">
                                </div>
                                <div class="form-group">
                                    <label for="tel">联系电话<b class="required-opt">*</b> </label>
                                    <input type="text" class="form-control" id="tel"
                                           v-model="user.contactNumber">
                                </div>
                                <div class="form-group">
                                    <label for="mobile">移动电话</label>
                                    <input type="text" class="form-control" id="mobile"
                                           v-model="user.phone">
                                </div>
                            </div>
                        </form>
                        <div class="box-footer">
                            <button type="button" class="btn btn-primary" @click="submitContactInfo">提交</button>
                        </div>
                    </div>
                    <!-- 右2表单 -->

                </div>
            </div>
            <!-- 所有表单 -->

            <div class="callout callout-info">
                <p>当你填写完毕信息之后，就可以上传个人照片了。</p>
                <button type="button" class="btn btn-default" onclick="window.location.href='/student/upload-avatar'">上传照片</button>
            </div>

        </section>
        <!-- 正文区域 /-->

    </div>
    <!-- 内容区域 /-->

    <!-- 页脚 -->
    <div th:replace="~{commons/footer}"></div>

</div>

<!-- js -->
<div th:replace="~{commons/js}"></div>
<div th:replace="~{commons/modal}"></div>
<script data-th-src="@{/static/plugins/vue/vue.global.min.js}"></script>

<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();

        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale: 'zh-CN'
        });
    });


    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }
    $(document).ready(function () {
        // 激活导航位置
        setSidebarActive("exam-register");

    });

    const form = Vue.createApp({
        data() {
            return {
                user: {},
                majorList: [],
            }
        },
        created() {
            doPost("/api/student/user/this", {})
                .then(resp => {
                    const code = resp.data.status
                    if ([102, 1010].includes(code)) {
                        makeModal(resp.data.message, true)
                    } else if (code === 0) {
                        this.user = resp.data.data['user-info']
                        this.user.graduateTime =
                            this.user.graduateTime.slice(0, this.user.graduateTime.lastIndexOf("-"))
                        this.schoolChange()
                    } else {
                        alert(resp.data)
                    }
                })
        },
        methods: {
            schoolChange: function (e) {
                let schoolId, schoolName, major
                schoolId = this.user.schoolId
                if (e != null) {
                    schoolName = e.target.selectedOptions[0].text
                } else {
                    schoolName = ""
                }
                if (schoolId === '-1') {
                    return
                }
                doPost("/api/student/school2major/"+schoolId, {})
                    .then(resp => {
                        if (resp.data.status === 0) {
                            major = resp.data.data['majors']
                            if (major.length === 0) {
                                makeModal(schoolName+"目前没有设置招生专业，请联系该学校招生办。")
                            } else {
                                this.majorList = major
                            }
                        } else {
                            alert(resp.data.message)
                        }
                    })
            },
            handleRegister: function (resp) {
                if ([101, 102, 1008, 1009].includes(resp.data.status)) {
                    makeModal(resp.data.message)
                } else if ([0].includes(resp.data.status)) {
                    this.user = resp.data.data['user-info']
                    this.user.graduateTime =
                        this.user.graduateTime.slice(0, this.user.graduateTime.lastIndexOf("-"))
                    this.schoolChange()
                    $.bootstrapGrowl(resp.data.message)
                } else {
                    alert(resp.data)
                }
            },
            submitSchoolInfo: function () {
                if (this.user.schoolId === "-1") {
                    makeModal("不可以选择这个学校。")
                    return
                }
                doPost("/api/student/registerExam", {
                    "schoolId": this.user.schoolId,
                    "majorId": this.user.major
                })
                    .then(this.handleRegister)
                    .catch(err => {alert(err)})
            },
            submitEduInfo: function () {
                doPost("/api/student/registerExam", {
                    "gradSchool": this.user.graduateSchool,
                    "gradTime": this.user.graduateTime,
                    "isCurrent": this.user.isCurrent,
                    "isScience": this.user.isScience,
                    "english": this.user.englishLevel
                })
                    .then(this.handleRegister)
                    .catch(err => {alert(err)})
            },
            submitContactInfo: function () {
                doPost("/api/student/registerExam", {
                    "mailName": this.user.receiver,
                    "mailAddr": this.user.contactAddress,
                    "zip": this.user.zipcode,
                    "contact": this.user.contactNumber,
                    "phone": this.user.phone
                })
                    .then(this.handleRegister)
                    .catch(err => {alert(err)})
            },
            submitBasicInfo: function () {
                doPost("/api/student/registerExam", {
                    "realName": this.user.realname,
                    "identity": this.user.identityId,
                    "gender": this.user.gender,
                    "nationality": this.user.nationality,
                    "politics": this.user.politicalStatus,
                    "source": this.user.source,
                    "home": this.user.homeAddress,
                })
                    .then(this.handleRegister)
                    .catch(err => {alert(err)})
            }
        }
    })
    form.mount("#data-form")
</script>
</body>
</html>
