<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理员 | 登录</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <script th:src="@{/static/plugins/html5shiv/html5shiv.min.js}"></script>
    <script th:src="@{/static/plugins/respond/respond.min.js}"></script>

    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/adminLTE/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/iCheck/square/blue.css}">
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">

        <a href="home.html"><b>重庆文理学院</b><br>考试报名平台</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">登录系统</p>

        <form>
            <div class="form-group has-feedback" id="username-wrapper">
                <input type="text" class="form-control" placeholder="用户名" id="username">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback" id="password-wrapper" style="display: none">
                <input type="password" class="form-control" placeholder="密码" id="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8" id="remember-wrapper" style="visibility: hidden">
                    <div class="checkbox icheck">
                        <label><input type="checkbox" id="remember"> 记住 下次自动登录</label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat" id="login-btn">下一步</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- /.social-auth-links -->

        <a href="#">忘记密码</a><br>
        <a href="register" class="text-center">新用户注册</a>

    </div>

</div>
<!-- js -->
<div th:replace="~{commons/js}"></div>
<div th:replace="~{commons/modal}"></div>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
    $('#username').on('focus', () => {
        $('#username').css("border-color", "#3c8d6c")
    }).on('focusout', () => {
        $('#username').css("border-color", "#d2d6de")
    })

    $("#login-btn").on("click", () => {
        const username = $('#username').val()
        if (username === "") {
            $('#username').css('border-color', 'red')
            makeModal("请填写所有输入框。", true)
            return
        }
        doPost("/api/student/checkUser/"+username, {})
            .then((response) => {
                if (response.data.status === 0) {
                    $('#username').prop('disabled', true)
                    $('#password-wrapper').css('display', 'block')
                    $('#remember-wrapper').css('visibility', 'unset')
                    $('#login-btn').on('click', login).text('登录')
                } else {
                    makeModal("请检查用户名。这个用户不存在。", true)
                }
            })
            .catch((exception) => {
                alert(exception)
            })
    })

    const login = () => {
        doPost("/api/student/login", {
            "username": $('#username').val(),
            "password": $('#password').val(),
            "remember": $('#remember').val() === 'on'
        })
            .then(response => {
                if (response.data.status === 0) {
                    window.location.href = response.data.data['location'];
                } else {
                    makeModal(response.data.message, true);
                }
            })
            .catch(exception => {
                alert(exception);
            })
    }
</script>
</body>

</html>
