<!DOCTYPE html>
<html lang="zh-Hans" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <div th:replace="~{commons/css}"></div>
    <style>
        .input-group-addon{
            min-width: 80px;
        }
    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- 顶部导航条 -->
    <div th:replace="~{commons/head-navbar}"></div>

    <!-- 左侧导航 -->
    <div th:replace="~{commons/left-sidebar}"></div>

    <!-- 内容区域 -->
    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                控制面板
                <small>首页</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="maintain.html"><i class="fa fa-dashboard"></i> 首页</a></li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content">
            <!-- 所有管理员 -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-chevron-circle-right"></i>
                    <h3 class="box-title">所有管理员（不含系统管理员）</h3>
                </div>

                <!-- 表格本体 -->
                <div th:if="${admins}">

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--数据列表-->
                            <table id="" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                <tr>
                                    <th class="">管理员ID</th>
                                    <th class="">用户名</th>
                                    <th class="">用户组</th>
                                    <th class="">操作</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr th:each="admin : ${admins}">
                                    <td th:text="${admin.getAdminId()}"></td>
                                    <td th:text="${admin.getName()}"></td>
                                    <td th:switch="${admin.getGroupName()}">
                                        <span th:case="aca-aff">教务管理员</span>
                                        <span th:case="recruit">招生管理员</span>
                                    </td>
                                    <td>
                                        <a th:onclick="resetPw([[${admin.getAdminId()}]], false)">重置密码</a>
                                        |
                                        <a th:onclick="dropUser([[${admin.getAdminId()}]], false)">移除用户</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!--数据列表/-->

                        </div>
                        <!-- 数据表格 /-->

                    </div>
                    <!-- /.box-body -->
                    <!-- 分页 -->
                    <div>
                    <span th:if="${adminsPage.hasPrevious()} == true">
                        <a th:href="@{/admin/sudoers/maintain?page={prev}(prev=${adminsPage.getNumber()-1})}">上一页</a>
                    </span>
                        <span>
                        当前第
                        <span th:text="${adminsPage.getNumber()+1}"></span>
                        页，共
                        <span th:text="${adminsPage.getTotalPages()}"></span>
                        页。
                    </span>
                        <span th:if="${adminsPage.hasNext()} == true">
                        <a th:href="@{/admin/sudoers/maintain?page={next}(next=${adminsPage.getNumber()+1})}">下一页</a>
                    </span>
                    </div>
                    <!-- 分页 -->
                </div>
                <!-- 表格本体 -->
                <div class="text-center" style="color: red" th:if="${msg}" th:text="${msg}"></div>

            </div>
            <!-- 所有管理员 /-->
            <!-- 手动添加管理员 -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <i class="fa fa-chevron-circle-right"></i>
                    <h3 class="box-title">手动添加管理员</h3>
                </div>

                <div style="padding: 20px 20px 50px;">
                    <form>
                        <div class="form-group has-feedback input-group">
                            <span class="input-group-addon">用户名称</span>
                            <input type="text" class="form-control" placeholder="用户名" id="username">
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback input-group">
                            <span class="input-group-addon">用户组</span>
                            <select class="form-control" title="用户分组" id="groupName">
                                <option th:each="identity : ${identities}"
                                        th:value="${identity.getKey()}"
                                        th:text="${identity.getValue()}"></option>
                            </select>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                        </div>
                        <div class="form-group has-feedback input-group">
                            <span class="input-group-addon">密码</span>
                            <input type="password" class="form-control" placeholder="留空则为1234" id="password">
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                    </form>
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-primary btn-block btn-flat" onclick="manualRegister()">注册</button>
                    </div>
                </div>
            </div>
            <!-- 手动添加管理员 /-->
        </section>
        <!-- 正文区域 /-->
        <div th:replace="commons/modal"></div>

    </div>
    <!-- 内容区域 /-->

    <!-- 页脚 -->
    <div th:replace="~{commons/footer}"></div>

</div>

<!-- js -->
<div th:replace="~{commons/js}"></div>

<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();

        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale: 'zh-CN'
        });
    });


    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    $(document).ready(function () {
        // 激活导航位置
        setSidebarActive("admin-maintain");
    });

    function toggleSingleOptionModal(option) {
        let dismissBtn = document.getElementById("modalDismiss");
        if (option){
            dismissBtn.style.visibility = 'hidden';
        } else {
            dismissBtn.style.visibility = 'visible';
        }
    }

    function toggleModal(){
        $('#myModal').modal("toggle");
    }

    function setModalMessage(message){
        document.getElementById('modalMessage').innerHTML = message;
    }

    function setConfirmAction(fn){
        document.getElementById('modalConfirm').onclick = fn;
    }

    function resetPw(id, confirm) {
        let messageHTML;
        if (confirm) {
            doPost('/api/admin/resetPassword',
                {
                    "id": id
                })
                .then(response => {
                    alert(response.data.message);
                    window.location.reload()
                })
                .catch(exception => {
                    alert(exception.data.message);
                });
        } else {
            messageHTML = "<p>你正在尝试重置ID为" + id + "用户的密码。这是个<b style='color: red'>危险动作</b>，在执行之前需要再次确认。</p>"
                + "<p>你确定要重置这个用户的密码吗？</p>";
            setModalMessage(messageHTML)
            document.getElementById('modalConfirm').setAttribute('onclick', 'javascript:resetPw(' + id + ', true)')
            toggleSingleOptionModal(false);
            toggleModal();
        }
    }

    function dropUser(id, confirm) {
        let messageHTML;
        if (confirm) {
            toggleModal();
            doPost('/api/admin/dropUser',
                {
                    "id": id
                })
                .then(response => {
                    alert(response.data.message);
                    window.location.reload()
                })
                .catch(exception => {
                    alert(exception.data.message);
                });
        } else {
            messageHTML = "<p>你正在尝试删除ID为" + id + "的用户。这是个<b style='color: red'>危险动作</b>，在执行之前需要再次确认。</p>"
                + "<p>你确定要删除这个用户吗？</p>";
            setModalMessage(messageHTML)
            document.getElementById('modalConfirm').setAttribute('onclick', 'javascript:dropUser(' + id + ', true)')
            toggleSingleOptionModal(false);
            toggleModal();
        }
    }

    function manualRegister() {
        let username = document.getElementById('username').value;
        let groupName = document.getElementById('groupName').value;
        let password = document.getElementById('password').value;
        if (password === "") {
            password = "1234";
        }
        if (username === "") {
            alert("你应当填完所有的输入框。");
        } else {
            doPost('/api/admin/register2', {
                    "username": username,
                    "groupName": groupName,
                    "password": password
                })
                .then(response => {
                    alert(response.data.message);
                    window.location.reload();
                })
                .catch(exception => {
                    alert(exception.data);
                });
        }
    }
</script>
</body>
</html>