<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>管理员 | 登录</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <script th:src="@{/static/plugins/html5shiv/html5shiv.min.js}"></script>
    <script th:src="@{/static/plugins/respond/respond.min.js}"></script>

    <link rel="stylesheet" th:href="@{/static/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/adminLTE/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/static/plugins/iCheck/square/blue.css}">
</head>

<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">

        <a href="home.html"><b>重庆文理学院</b><br>考试管理后台</a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">登录系统</p>

        <form>
            <div class="form-group has-feedback">
                <input type="text" class="form-control" placeholder="用户名" id="username">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="密码" id="password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label><input type="checkbox"> 记住 下次自动登录</label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat" onclick="login()">登录</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- /.social-auth-links -->

        <a href="#">忘记密码</a><br>
        <a href="/admin/register" class="text-center">新用户注册</a>
        <div><b id="message" style="color: red"></b></div>

    </div>

</div>

<!-- js -->
<div th:replace="commons/js"></div>

<script th:src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script th:src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static/plugins/iCheck/icheck.min.js}"></script>
<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
    function login() {
        let username = document.getElementById('username').value;
        let password = document.getElementById('password').value;
        console.log(username+" "+password);
        if (
            username === ""
            || password === ""
        ){
            alert("你应当填完所有的输入框。");
        } else {
            doPost('/api/admin/login', {
                    "username": username,
                    "password": password
                },
                response => {
                    if (response.data.status === 0){
                        window.location = response.data.data['location']
                    } else if (response.data.status === 1002){
                        document.getElementById("message").innerText = response.data.message
                        document.querySelector("#password").style['border-color'] = 'red'
                    } else {
                        window.location = response.data.data['location']
                    }
                },
                exception => {
                    alert(exception.data);
                }
            )
        }
    }
</script>
</body>

</html>