<script data-th-src="@{/static/plugins/jQuery/jquery-2.2.3.min.js}"></script>
<script data-th-src="@{/static/plugins/jQueryUI/jquery-ui.min.js}"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script data-th-src="@{/static/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script data-th-src="@{/static/plugins/raphael/raphael-min.js}"></script>
<script data-th-src="@{/static/plugins/morris/morris.min.js}"></script>
<script data-th-src="@{/static/plugins/sparkline/jquery.sparkline.min.js}"></script>
<script data-th-src="@{/static/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
<script data-th-src="@{/static/plugins/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
<script data-th-src="@{/static/plugins/knob/jquery.knob.js}"></script>
<script data-th-src="@{/static/plugins/daterangepicker/moment.min.js}"></script>
<script data-th-src="@{/static/plugins/daterangepicker/daterangepicker.js}"></script>
<script data-th-src="@{/static/plugins/daterangepicker/daterangepicker.zh-CN.js}"></script>
<script data-th-src="@{/static/plugins/datepicker/bootstrap-datepicker.js}"></script>
<script data-th-src="@{/static/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js}"></script>
<script data-th-src="@{/static/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
<script data-th-src="@{/static/plugins/slimScroll/jquery.slimscroll.min.js}"></script>
<script data-th-src="@{/static/plugins/fastclick/fastclick.js}"></script>
<script data-th-src="@{/static/plugins/iCheck/icheck.min.js}"></script>
<script data-th-src="@{/static/plugins/adminLTE/js/app.min.js}"></script>
<script data-th-src="@{/static/plugins/treeTable/jquery.treetable.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/js/select2.min.js" defer></script>
<script data-th-src="@{/static/plugins/colorpicker/bootstrap-colorpicker.min.js}"></script>
<script data-th-src="@{/static/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.zh-CN.js}"></script>
<script data-th-src="@{/static/plugins/bootstrap-markdown/js/bootstrap-markdown.js}"></script>
<script data-th-src="@{/static/plugins/bootstrap-markdown/locale/bootstrap-markdown.zh.js}"></script>
<script data-th-src="@{/static/plugins/bootstrap-markdown/js/markdown.js}"></script>
<script data-th-src="@{/static/plugins/bootstrap-markdown/js/to-markdown.js}"></script>
<script data-th-src="@{/static/plugins/ckeditor/ckeditor.js}"></script>
<script data-th-src="@{/static/plugins/input-mask/jquery.inputmask.js}"></script>
<script data-th-src="@{/static/plugins/input-mask/jquery.inputmask.date.extensions.js}"></script>
<script data-th-src="@{/static/plugins/input-mask/jquery.inputmask.extensions.js}"></script>
<script data-th-src="@{/static/plugins/datatables/jquery.dataTables.min.js}"></script>
<script data-th-src="@{/static/plugins/datatables/dataTables.bootstrap.min.js}"></script>
<script data-th-src="@{/static/plugins/chartjs/Chart.min.js}"></script>
<script data-th-src="@{/static/plugins/flot/jquery.flot.min.js}"></script>
<script data-th-src="@{/static/plugins/flot/jquery.flot.resize.min.js}"></script>
<script data-th-src="@{/static/plugins/flot/jquery.flot.pie.min.js}"></script>
<script data-th-src="@{/static/plugins/flot/jquery.flot.categories.min.js}"></script>
<script data-th-src="@{/static/plugins/ionslider/ion.rangeSlider.min.js}"></script>
<script data-th-src="@{/static/plugins/bootstrap-slider/bootstrap-slider.js}"></script>
<script data-th-src="@{/static/plugins/bootstrap-datetimepicker/bootstrap-datetimepicker.js}"></script>
<script data-th-src="@{/static/plugins/bootstrap-datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js}"></script>
<script data-th-src="@{/static/plugins/axios/axios.min.js}"></script>
<script>
    /**
     * 使用GET方式请求指定的API。
     * @param {string} endpoint 请求的API
     * @param {JSON} param JSON参数对象
     * @param {(reason: *) => (PromiseLike<TResult> | TResult)} success Promise对象then函数传入的回调
     * @param {(reason: *) => (PromiseLike<TResult> | TResult)} fail Promise对象catch函数传入的回调
     */
    function doGet(endpoint, param, success, fail) {
        axios.get(endpoint,param)
            .then(success)
            .catch(fail);
    }
    /**
     * 使用POST方式请求指定的API，请求体数据格式为form-data。
     * @param {string} endpoint 请求的API
     * @param {JSON} data JSON参数对象
     * @param {(reason: *) => (PromiseLike<TResult> | TResult)} success Promise对象then函数传入的回调
     * @param {(reason: *) => (PromiseLike<TResult> | TResult)} fail Promise对象catch函数传入的回调
     */
    function doPost(endpoint, data, success, fail) {
        let formData = new FormData();
        for (let key in data) {
            formData.append(key, data[key]);
        }
        axios({
            method: "post",
            url: endpoint,
            data: formData,
            headers: {
                "Content-Type": "multipart/form-data"
            }
        })
            .then(success)
            .catch(fail);
    }

    function doDelete(endpoint, data, success, fail) {
        let formData = new FormData();
        for (let key in data) {
            formData.append(key, data[key]);
        }
        axios({
            method: "delete",
            url: endpoint,
            data: formData,
            headers: {
                "Content-Type": "multipart/form-data"
            }
        })
            .then(success)
            .catch(fail);
    }
</script>
<script>
    /**
     * 生成一个提示框。
     * @param {string} messageHTML 提示框的内容，使用HTML格式。
     * @param {boolean} useSingleOption 默认为false，包含关闭和确定两个选项；如果设置为true，则会移除关闭选项。
     * @param {string | null} onclickFnAttr 确定按钮按下时执行的动作，内容为eval()函数参数类似的函数字符串；如果不设置，默认为关闭提示框。
     * @see 使用{@link toggleModal}函数切换提示框状态，使用{@link showModal}或{@link hideModal}手动切换状态。
     */
    function makeModal(messageHTML, useSingleOption = false, onclickFnAttr = "hideModal()") {
        document.getElementById('modalMessage').innerHTML = messageHTML;
        if (onclickFnAttr != null) {
            document.getElementById('modalConfirm').setAttribute('onclick', 'javascript:'+onclickFnAttr);
        }
        let dismissBtn = document.getElementById("modalDismiss");
        if (useSingleOption){
            dismissBtn.style.visibility = 'hidden';
        } else {
            dismissBtn.style.visibility = 'visible';
        }
        showModal();
    }
    function toggleModal(){
        $('#myModal').modal("toggle");
    }
    function hideModal() {
        $('#myModal').modal("hide");
    }
    function showModal() {
        $('#myModal').modal("show");
    }
</script>