<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <div th:replace="~{commons/css}"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- 内容区域 -->
    <div class="content-wrapper">
        <!-- 正文区域 -->
        <section class="content">
            <h1>Under Construction.</h1>
            <a href="/student/login">学生登陆</a><br>
            <a href="/admin/login">管理员登录</a>
        </section>
        <!-- 正文区域 /-->

    </div>
    <!-- 内容区域 /-->

    <!-- 页脚 -->
    <div th:replace="~{commons/footer}"></div>

</div>

<!-- js -->
<div th:replace="~{commons/js}"></div>

<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();

        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale: 'zh-CN'
        });
    });


    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    $(document).ready(function () {
        // 激活导航位置
        setSidebarActive("admin-index");
    });
</script>
</body>
</html>
