<!DOCTYPE html>
<html lang="zh-Hans" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <div th:replace="~{commons/css}"></div>
</head>

<body class="hold-transition skin-blue sidebar-mini">

<div class="wrapper">

    <!-- 顶部导航条 -->
    <div th:replace="~{commons/head-navbar}"></div>

    <!-- 左侧导航 -->
    <div th:replace="~{commons/left-sidebar}"></div>

    <!-- 内容区域 -->
    <div class="content-wrapper">

        <!-- 内容头部 -->
        <section class="content-header">
            <h1>
                控制面板
                <small>首页</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="maintain.html"><i class="fa fa-dashboard"></i> 首页</a></li>
            </ol>
        </section>
        <!-- 内容头部 /-->

        <!-- 正文区域 -->
        <section class="content" id="app">
            <p class="lead" th:text="${msg}"></p>
            <div class="box box-primary" th:unless="${msg}">
                <div class="box-header with-border">
                    <i class="fa fa-chevron-circle-right"></i>
                    <h3 class="box-title">分配考场信息</h3>
                </div>
                <div class="box-body">
                    <p>报名学生有{{confirmed+pending}}名，其中{{confirmed}}名已确认，{{pending}}名未确认。</p>
                    <p>点击下面按钮将为确认的学生随机分配考场和座位。</p>
                    <button type="button" class="btn btn-primary" @click="assign">分配考场</button>
                </div>
            </div>
        </section>
        <!-- 正文区域 /-->

    </div>
    <!-- 内容区域 /-->

    <!-- 页脚 -->
    <div th:replace="~{commons/footer}"></div>

</div>

<!-- js -->
<div th:replace="~{commons/js}"></div>

<script>
    $(document).ready(function () {
        // 选择框
        $(".select2").select2();

        // WYSIHTML5编辑器
        $(".textarea").wysihtml5({
            locale: 'zh-CN'
        });
    });


    // 设置激活菜单
    function setSidebarActive(tagUri) {
        var liObj = $("#" + tagUri);
        if (liObj.length > 0) {
            liObj.parent().parent().addClass("active");
            liObj.addClass("active");
        }
    }


    $(document).ready(function () {
        // 激活导航位置
        setSidebarActive("ticket-assign");
    });

    const app = Vue.createApp({
        data() {
            return {
                confirmed: 0,
                pending: 0,
            }
        },
        created() {
            doPost('/api/admin/getConfirms', {})
                .then(resp => {
                    const code = resp.data.status
                    if ([0].includes(code)) {
                        this.confirmed = resp.data.data['confirmed']
                        this.pending = resp.data.data['pending']
                    } else {
                        makeModal(resp.data.message, true)
                    }
                })
        },
        methods: {
            assign: () => {
                doPost('/api/admin/assignTicket')
                    .then(resp => {
                        const code = resp.data.status
                        if ([0].includes(code)) {
                            $.bootstrapGrowl(resp.data.message)
                        } else {
                            makeModal(resp.data.message, true)
                        }
                    })
            }
        }
    })
    app.mount('#app')
</script>
</body>
</html>
